.job-filters{align-items:end}
.job-filters #clearJobFilters{height:40px;min-height:40px;padding:0 15px;align-self:end}
.message-form{align-items:start}
.message-form>.button{height:46px;min-height:46px;align-self:start}
